SilverlightApplication1/Service References/ServiceReference1/DateService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SilverlightApplication1.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SilverlightApplication1.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfForumInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ForumInfo" nillable="true" type="tns:ForumInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForumInfo" nillable="true" type="tns:ArrayOfForumInfo" />
  <xs:complexType name="ForumInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ForumID" type="xs:int" />
      <xs:element minOccurs="0" name="ForumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParendID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForumInfo" nillable="true" type="tns:ForumInfo" />
</xs:schema>