SilverlightApplication1/Service References/ServiceReference1/DateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25748/DateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25748/DateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25748/DateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SilverlightApplication1.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDateService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IDateService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IDateService_GetForumData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForumData" />
  </wsdl:message>
  <wsdl:message name="IDateService_GetForumData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForumDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IDateService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IDateService/DoWork" message="tns:IDateService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDateService/DoWorkResponse" message="tns:IDateService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForumData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDateService/GetForumData" message="tns:IDateService_GetForumData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDateService/GetForumDataResponse" message="tns:IDateService_GetForumData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDateService" type="tns:IDateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IDateService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForumData">
      <soap:operation soapAction="http://tempuri.org/IDateService/GetForumData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DateService">
    <wsdl:port name="BasicHttpBinding_IDateService" binding="tns:BasicHttpBinding_IDateService">
      <soap:address location="http://localhost:25748/DateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>